

body {
    justify-items: center;
    text-align: center;
    background-color: rgb(138, 194, 145);
    color: white;
    font-family: 'Slackey', sans-serif;
}

.learning-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 55vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.learning-container.squish {
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.6s ease-in-out;
}

.learning-container div {
    position: absolute;
    transition: opacity 0.2s ease-in, transform 0.5s ease-in-out;
    opacity: 0.5;
    transform: scale(0.8);
}

.learning-container .left {
    transform: translateX(-100%) scale(0.8); 
    opacity: 0.5;
}

.learning-container .center {
    transform: translateX(0) scale(1.5); 
    opacity: 1;
    z-index: 2; 
}

.learning-container .right {
    transform: translateX(100%) scale(0.8);     
    opacity: 0.5;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 25%;
    border: white 10px solid;
}

.color-title {
    font-weight: 900;
    -webkit-text-stroke: white 1px;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

.next-btn, .prev-btn {
    background-color: rgb(143, 227, 102);
    border: white 4px solid;
    border-radius: 50%;
    cursor: pointer; 
    position: absolute;
    user-select: none;
    padding:  15px 23px 15px 23px;
    font-weight: bold;
    font-size: 18px;
    top: 52%;
    transition: all 0.6s ease-in-out
}

.next-btn {
    right: 15%;
}

.prev-btn {
    left: 15%;
}

.next-btn.squish {
    right: 50%; 
    left: auto; 
}

.prev-btn.squish { 
    left: 50%; 
    right: auto; 
}

.left.squish {
    left: 53%;
    right: auto;
    transition: all 0.6s ease-in-out
}

.right.squish {
    right: 53%;
    left: auto;
    transition: all 0.6s ease-in-out
}

.test-btn {
    background-color: orange;
    font-size: 16pt;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    border: white 4px solid;
    cursor: pointer;
    width: 10vw;
    user-select: none;
    position: absolute;
    top: 87%;
    left: 44%;
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    to {transform: scale(1.2);}
}

.test-btn.squish {
    opacity: 0;
    transition: opacity 1.6s ease-in-out;
}

.test-img {
    height: 50px;
    width: 50px;
    border-radius: 25%;
    border: white 10px solid;
    position: absolute;
    cursor: grab;
}

.test-text {
    position: absolute;
    cursor: grab;
}

.test-container {   
    width: 55vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    position: absolute;
    top: 18.3%;
    right: 22.5%;
    overflow: hidden;
}

.hidden {
    display: none;
}

@keyframes bounce-in {
    0% { transform: scale(0);}
    60% {transform: scale(1.4);}
    100% {transform: scale(1);}
}

.bounce-in {
    animation: bounce-in 0.6s ease-out forwards;
    transform-origin: center; 
}

.test-container > * {
    position: absolute;
}